{% extends 'base/base.html' %}

{% load static %}

{% block body %}

<a href="#footer-scroll" class="scroll bottom" role="button">최하단이동</a>
<header class="header">
    <h1 class="logo"><a href="#"><img src="https://www.limrim.co.kr/web/upload/ga09/logo.png" alt="림림 로고"></a></h1>

    {% include 'base/nav.html' %}

</header>
<div class="login-page">
    <div class="form">
        <form class="register">
            <input type="text" placeholder="name"/>
            <input type="text" placeholder="email address"/>
            <input type="password" placeholder="password"/>
            <button>create</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
        </form>
    </div>
</div>

{% endblock %}
