<!DOCTYPE html>
{% load static %}
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/home.css" type="text/css">
    <link rel="shortcut icon" href="./images/catpaw.png">
    <script src="https://kit.fontawesome.com/26a062b285.js" crossorigin="anonymous"></script>
    <title>JJABder</title>

    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'js/slide.js' %}" type="text/javascript">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
</head>
{% block body %}
{% endblock %}