<footer class="footer">
    <h2 class="a11y-hidden">footer</h2>
    <a href="#" class="footer-logo">LIM RIM</a>
    <div class="footer-group">
        <h3 class="a11y-hidden">영업시간 및 계좌정보</h3>
        <dl class="footer-group1">
            <dt class="footer-bold-text">TEL. <dd class="footer-bold-text">010-4646-6629</dd></dt>
            <dt>Opning Hours <dd>: 10am-7pm</dd></dt>
            <dt>Lunch <dd>: 12:30pm-1:30pm</dd></dt>
            <dt>Off <dd>: SAT,SUN, HOILIDAY : 카톡상담</dd></dt>
            <br>
            <dt class="footer-bold-text">kakao ID <dd class="footer-bold-text">: limrimco</dd></dt>
            <dt class="a11y-hidden">계좌번호 <dd class="footer-account">우리은행 139-429253-02-001</dd></dt>
            <dt class="footer-account">예금주 <dd class="footer-account">: 전장원</dd></dt>
        </dl>
        <h3 class="a11y-hidden">회사 주소 및 연락처</h3>
        <address class="footer-group2">
            <dl>
                <dt>Company <dd>limrim</dd></dt>
                <dt>Owner <dd>전장원</dd></dt>
                <dt>Business License <dd>448-87-01293</dd></dt>
                <dt>Online Order License <dd>제2017-서울성동-0913호</dd></dt>
                <dt>Address <dd>서울시 성동구 성수동 아차산로 15길 34</dd></dt>
                <dt>Tel <dd>010-4646-6629</dd></dt>
                <dt>E-mail <dd>rimlimaut@naver.com</dd></dt>
            </dl>
        </address>
        <h3 class="a11y-hidden">회사 정책 링크모음 및 소셜링크모음</h3>
        <ul class="footer-group3">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Agreement</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Site Guide</a></li>
            <li>
                <ul class="social-link">
                    <li><a href="#">FACEBOOK</a></li>
                    <li><a href="#">INSTAGRAM</a></li>
                    <li><a href="#">NAVER BLOG</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <small class="copyright">Copyright LIMRIM All Rights Reserved</small>
    <a class="join-us" href="#" role="button">Join Our Site</a>
</footer>