{% extends 'base/base.html' %}

{% load static %}

{% block body %}
<body>
<a href="#footer-scroll" class="scroll bottom" role="button">최하단이동</a>
<header class="header">
    <h1 class="logo"><a href="#"><h1 style="width: 100px; height: 50px;">JJABder</h1></a></h1>

    {% include 'base/nav.html' %}

</header>

<!--Product List-->
<main class="main-contents">
    <section class="new-arrivals">
        <ul>
            {% for product in products_category__'재킷 % 블레이저' %}
            <li>
                <a href="#">
                    <figure>
                        <img class="new-arrivals-img"
                             src="{{ product.img_url }}" art="Tweed jacket">
                        <figcaption class="new-arrivals-desc">{{ product.title }}</figcaption>
                    </figure>
                </a>
                <span>{{ product.price }}</span>
                {% if product.quantity == 0 %}
                <span class="sold-out">판매완료</span>
                {% endif %}
                {% endfor %}
            </li>
        </ul>
    </section>
</main>

</body>
{% endblock %}
